node-linker=hoisted
# 国内镜像：加速 Electron / electron-builder 二进制下载（如不需要可删除这两行）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
